html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus {outline: 0;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q { quotes: "" "";}

f
/* ##################################
   ################################## */
body {
	background-color: #F2F2F2;
	font-family: arial, sans-serif;
	font-size: 14px; }

header, div[role="main"], footer {
	padding:0 25px; 
	overflow-y:hidden;}

header {
	text-align: center;
	height: 80px;
	margin-bottom:10px;
	display: none; }

header.alerta {
	display: block;
}

header h1 {
	width: 300px;
	display: inline-block;}

header h1 {
	display: none;
	font-family: "Handlee", script;
	font-size: 200%; }

header .indicadores {
	height: 70px;
	display: inline-block;
	background: #FD5151;
	width: 400px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0,0,0, .15); }

header .indicadores li.aguardando-time span {
	color: white;
	font-weight: bold;
    display: block;
    padding: 10px 0 0;
    text-transform: uppercase; }

header .indicadores li.aguardando-time span#spnTotalAguardandoTime {
	display: block;
	text-transform: none;
	padding: 0;
    font-size: 26px;
    margin: 5px 0 0;
    color: white; }

h2 {
	font-family: "Handlee", script;
	font-size: 32px;
	color: #505038;
	background: rgba(255, 255, 0, 0.2);
	border-top:solid 1px rgba(55, 55, 0, 0.15);
	border-bottom:solid 1px rgba(55, 55, 0, 0.15);
    margin: 5px 0 15px -5%;
    padding: 9px 5% 7px 5%;
    width: 100%; }

section {
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0 -10px 10px -10px; }

section h3 {
	width: 310px;
	background-color: white;
	font-size: 135%;
	font-family: "Andika", sans-serif;
	color: #006d9b;
	display: inline-block;
	border: 1px solid #dbdbdb;
	padding: 9px 0 12px 39px;
	margin: 0 0 25px -30px;
	border-radius: 0 0 0 15px / 0 0 0 5px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	position: relative;
	display: block; }

.proposta {
	display: inline-block;
	vertical-align: top;
	width: 16.5%;
	position:relative;
	min-height: 145px;
	background: #fdfaec;
	padding: 14px 14px 8px 14px;
	position: relative;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.12),inset 0 -5px 5px rgba(0,0,0, 0.075);
	top: 0;
	border-radius:1px;
	margin:0 10px 24px;
	-webkit-transition: top 0.2s;
    -moz-transition: top 0.2s; }

.proposta .opportunityName {
	display: block;
	font-size: 115%;
	line-height:115%;
	margin: 0 0 12px 0;
	text-shadow:0 -1px 0 rgba(0, 0, 0, .03);
	color: rgba(0, 0, 0, .75); }

.proposta .accountName {
	display: block;
	font-size: 102.5%;
	line-height:110%;
	text-shadow:0 -1px 0 rgba(0, 0, 0, .03);
	text-transform: uppercase;
	color: rgba(0, 0, 0, .60); }

.proposta:hover {
	top: -10px; }

.proposta:before {
	background: transparent;
	pointer-events: none;
    border: 1px solid black;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .15; }

.proposta ul {
	position:absolute;
	width:225px;
	left:12px;
	bottom:6px;
	height:40px;
	overflow:hidden;}

.proposta ul li a {
	display: block;
	height: 36px;
	overflow: hidden; }

.proposta ul li {
	display: inline-block;
	margin-right:2px;
	width: 36px;
	height: 36px;
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 26px;
	overflow: hidden;
}

.proposta ul li img {
	max-width: 36px;
	display: inline;
}

@media screen and (min-width: 1920px) {
	div[role="main"] {
    	width: 100%; }

	h2 {
		padding: 9px 0 7px 25px;
		margin: 0 0 10px; }

	section {
  		display: inline-block;
		width: 46%;
		margin: 0 0 5px 1%;
		border-bottom: none; }

	.secao > section:nth-of-type(2n) {
		margin: 0 0 0 6%; }

	section h3 {
		padding: 7px 0 10px 25px;
		margin: 0 0 15px; }

	section.ganhamos, section.perdemos, section.onHold {
		width: 30%;
		margin: 0 0 0 3% !important; }
}